@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --primary: #7898FF;
    --secondary: #8E64C5;
    --app-grey: #F2F2F2;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
background: linear-gradient(110deg, var(--primary), var(--secondary));
}

main{
  margin: 100px 0;
}
.contenedor{
  width: 500px;
  margin: 25px auto;
  padding: 25px 50px;
  background-color: white;
}
.contenedor input,label,button{
  display: block;
  margin: 20px auto;
  width: 100%;
}

.colorFondo{color: #8E64C5;text-decoration:line-through ;}
.estadoCruzado {display:none;}
.comentarios{
  width: 500px;
  margin: 0 auto;
  padding: 25px 50px;
  background-color: white;
}
.comentarios p{
  background-color: var(--app-grey);
  padding: 10px;
  margin: 10px 0;
}
button{height:40px;width:140px}

.wrapper {
  position:relative;
  width: 150px;
  height: 150px;
}

.img, .cross-img {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 100%;
  height: 100%;
}

button{border-radius: 10px;width: 100px}



.cross-img {
  opacity: 0.5;
  width:60%
}
